body{
    margin: 0;
}

main{
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
} 

footer{
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
}

ul{
	padding: 0;
    margin-left: 20px;
}

table{
    table-layout: auto;
    width: 100%;
    text-align: left;   
}

td:nth-child(-n + 2) {
    width: 250px;
    height: 20px;
}

header{
    height: 95px;
    background-image: url("../img/pattern.png");
    background-size: 280px;
    background-color: rgb(0, 128, 255);
}

.img-header{
    margin-top: 35px;
    margin-left: 75px;
    width: 210px;
}

.head-table{
    background-color: rgb(0, 60, 255);
    color: white;
}

.tr-background{
    background-color: lightblue;
}

.section-table{
    margin-bottom: 40px;
}

.img-footer-1{
    background-image: url(../img/monitor.jpg);
    height: 210px;
    background-repeat: no-repeat;
    margin-top: 15px;
    color: white;
    padding: 8px;
    font-size: large;
}

.img-footer-2{
    background-image: url(../img/graph.jpg);
    height: 210px;
    background-repeat: no-repeat;
    color: white;
    padding: 8px;
    font-size: large;
}

#title{
    margin: 0;
    font-size: 80px;
}

#down-title{
    font-size: 25px;
    color: rgb(100, 100, 100);
    margin: 0;
}

#down-title-2{
    font-size: 15px;
    color: rgb(100, 100, 100);
}

#img-tim-1{
    display: block;
    margin-bottom: 8px;
    margin-top: 25px;
}

#img-legend{
    font-size: 15px;
}

#evidenziato{
    background-color: yellow;
}

#title-footer{
    color: rgb(54, 56, 58);
    font-size: large;
}
